@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --cor-secundaria:#ffee00;
    --white:#0f0f11b4;
    --dark:#fff;
    --color-neutral-0: #0e0c0c;
}

html,header,body{
    scroll-behavior: smooth;
}

body{
    color: black;
    background: var(--dark);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close,.close2,.close3{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus,
  .close2:hover,
  .close2:focus,
  .close3:hover,
  .close3:focus  {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #eeeeee;
    width: 100%;
    background: black;
    transition: all 0.5s;
    /*position: fixed;*/
}
.navigation .logo{ 
    color: var(--cor-secundaria);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--dark);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: var(--cor-secundaria);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-item h2{
    margin-top: 10px;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--cor-secundaria);
}
.home{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text{
    max-width: 50rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    margin-bottom: 1rem;
}

.home-text .text-h4 span{
    font-size: 1.5rem;
    color:black;
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4.5rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--cor-secundaria);
    color: var(--color-neutral-0);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: #ff8800;
}
.home-img img{
    width: 95%;
}

.front img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.front button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#metas{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    background-color: var(--white);
    padding-top: 35px;
    color: #eeeeee;
}

.metas-card{
    width: 300px;
}

.metas-card h2{
    margin-bottom: 15px;
    color: var(--cor-secundaria);
}

.metas-card p,li{
    font-weight: 430;
}

h1 {
    margin-bottom: 1rem;
  }
  
  button {
    padding: 0.6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.9;
    font-size: 1rem;
  }
  
/*PROJETOS CARD*/

.projetos{
    display: flex;
    justify-content: center;
}

.card{
    margin: 50px;
    background-color: rgb(190, 190, 190);
    color: #202020;
    width: 400px;
    height: 640px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card>img{
    width: 300px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card>h1{
    font-size: 25px;
    padding-top: 10px;
}

.card>p{
    font-size: 17px;
    padding: 10px 40px;
}

.btn-cards{
    font-size: 17px;
    padding: 10px 50px;
    border: none;
    background-color: var(--cor-secundaria);
    color: var(--color-neutral-0);
    border-radius: 10px;
    font-weight: 600;
    transition: 0.5s background;
    cursor: pointer;
}

.btn-cards:hover{
    transition: 0.5s background;
    background-color: #ff8800;
}

/*Slide*/

.container-slider {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
}

.slider {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.on {
  opacity: 1;
}

#prev-button, #next-button {
  width: 70px;
  height: 60px;
  border: none;
    background-color: transparent;
  cursor: pointer;
}

#prev-button img, #next-button img {
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}
/*FOOTER*/
footer {
    width: 100%;
    color: var(--color-neutral-40);

}

.footer-link {
    text-decoration: none;
}

#footer_content {
    box-shadow: 0 0.1rem 1rem #ffffff;
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(4, 1fr);/*colunas*/
    padding: 3rem 3.5rem;
    
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
    color: var(--cor-secundaria);
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
    color: #ffffff;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list img{
    width: 170px;

}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding: 0px ;
    color: #ffffff;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: var(--cor-secundaria);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    color: #ffffff;
    box-shadow: 0 0.1rem 1rem #ffffff;
    display: flex;
    justify-content: center;
    background-color:black;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}


@media (max-width:505px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        font-weight: 900;
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: black;
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        display: block;
        width: 125%;
    }
    /*FOOTER*/
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
}
}

.mapBox{
    position: block;
    width: 100vw;
    height: 500px;
}

.mapBox iframe{
    width: 100vw;
}

hr{
    box-shadow: 0 0.1rem 1rem #ffffff;
    height: 2px;

}

@media (max-width: 375px){
    .navigation{
        width: 375px;
    }
    .home-img img{
        width: 150px;
    }
    #footer_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mapBox{
        display: block;
        margin: 0;
        padding: 0;
        width: 375px;
    }
    .mapBox iframe{
        width: 375px;
    }
    .footer-list{
        width: 350px;
        display: flex;
        padding-left: 30px;
    }
    .footer-list img{
        width: 200px;
        padding-left: 80px;
    }
    #footer_contacts{
        width: 350px;
        padding-left: 30px;
    }
}

@media (min-width: 376px) and (max-width: 1439px){
    .navigation{
        width: 100vw;
    }
    .mapBox{
        display: block;
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    .mapBox iframe{
        width: 100vw;
    }
    #footer_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}